/*  */

.container {
    max-width: unset;
}

.division {
    .sidebar {
        padding: 0 20px 0 25px;
        border-right: 1px solid #f0f0f0;
        position: fixed;
        background: #fff;
        height: 100vh;
        z-index: 1;

        .company-logo {
            margin: 30px 0 12px 12px;
            text-decoration: none;

            h1 {
                padding-left: 10px;
            }
        }

        .navbar {

            .navbar-options,
            .tools,
            .projects {
                margin-top: 20px;

                .navbar-links {
                    padding: 10px 20px;
                    margin: 5px 0;
                    transition: all 0.5s linear;

                    &.active,
                    &:hover {
                        background-color: #6c62dd;
                        border-radius: 8px;
                        color: #fff;
                        transform: scale(1.05);

                        svg {
                            color: #fff;
                        }
                    }

                    &:hover {
                        background-color: #6c62dd7b;
                        color: #000;

                        svg {
                            color: #000;
                        }
                    }

                    &.active:hover {
                        color: #fff;

                        svg {
                            color: #fff;
                        }
                    }
                }
            }

            a {
                text-decoration: none;

                svg {
                    margin-right: 10px;
                }
            }
        }

        .close-btn {
            display: none;
            cursor: pointer;
        }
    }

    .header-main-wrapper {
        padding: 25px 18px 25px 265px;

        .main {
            .right-sidebar {
                margin-left: 35px;
                position: relative;

                .subhead {
                    margin-bottom: 15px;
                }

                .profiles {
                    position: absolute;
                    top: 110px;
                    right: 40px;

                    .profile {
                        border-radius: 50%;
                        border: 2px solid #fff;
                    }

                    select {
                        border: none;
                        margin: 25px 0;

                        &:focus-visible {
                            outline: none !important;
                        }
                    }

                    button {
                        padding: 15px;
                        text-align: left;
                        background: transparent;
                        border: 1px solid #f0f0f0;
                        border-radius: 10px;
                    }
                }

                select {
                    border: none;
                    margin: 30px 0;

                    &:focus-visible {
                        outline: none !important;
                    }

                    cursor: pointer;
                }

                button {
                    border: 1px solid #f0f0f0;
                    padding: 12px 15px;
                    text-align: left;
                    border-radius: 10px;
                    background-color: transparent;
                    cursor: pointer;
                    transition: all 0.5s linear;

                    &:hover {
                        background-color: #6c62dd;
                        color: #fff;

                        svg {
                            color: #fff;
                        }
                    }
                }

                hr {
                    margin: 30px 0;
                }

                .upcoming-meetings-wrapper {
                    .meeting-icon {
                        border-radius: 50%;
                        transition: all 0.5s linear;
                    }

                    .upcoming-meeting {
                        padding: 30px 0;
                        border-bottom: 1px solid #f0f0f0;
                        cursor: pointer;
                        transition: transform 0.5s linear;

                        &:hover {
                            transform: scale(1.03);

                            .meeting-icon {
                                background: #a3a3a3;
                            }
                        }

                        .meetings {
                            margin-left: 20px;

                            p {
                                margin-bottom: 10px;
                            }

                            svg {
                                margin-right: 10px;
                            }

                            .first {
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .header {
        margin-bottom: 20px;

        .header-operations {
            position: relative;

            .search-alert {
                position: relative;

                svg {
                    margin: 0 40px 0 0;
                    cursor: pointer;
                }

                .search {
                    border-radius: 50%;
                    padding: 10px;
                    transition: all 0.5s linear;

                    &:hover {
                        background-color: #a4a4a4;
                        color: #fff;
                    }
                }

                .bell {
                    transition: all 0.5s linear;

                    &:hover {
                        color: #6c62dd;
                    }
                }

                .small-circle {
                    border-radius: 50%;
                    position: absolute;
                    top: 5px;
                    right: 40px;
                    border: 1px solid #fff;
                    transition: all 0.5s linear;
                }
            }

            .logout {
                padding: 5px 8px;
                border-radius: 25px;
                box-shadow: 0px 2px 10px 0px #d1cdcd;
                cursor: pointer;
                transition: all 0.5s linear;

                &:hover {
                    background-color: #6c62dd;
                    color: #fff;

                    svg {
                        color: #fff;
                    }
                }

                img {
                    padding: 2px;
                    border-radius: 50%;
                    background: #f5bcba;
                    border: 2px solid #fff;
                }

                p {
                    margin: 0 10px;
                }
            }
        }

        .profile-wrapper {
            .profile-img {
                margin-right: 25px;
                border-radius: 50%;
                border: 3px solid #eee;
                border-right: 3px solid #6c62dd;
                transform: rotate(310deg);
                position: relative;

                .profile-img-inner {
                    border-radius: 50%;
                    background-color: #fbaf96;
                }

                img {
                    transform: rotate(55deg);
                }

                .small-circle {
                    border-radius: 50%;
                    position: absolute;
                    top: 21px;
                    right: -12px;
                    border: 2px solid #fff;
                    transform: rotate(50deg);
                }
            }
        }
    }

    .stats-wrapper {
        padding: 25px;
        border-radius: 20px;

        .stat {
            .img {
                background: #c4ecfd;
                border-radius: 50%;
            }

            .info {
                margin-left: 15px;

                .title {
                    margin-bottom: 10px;
                    color: #bbb7ee;
                }

                .previous-record {
                    margin-top: 5px;

                    span {
                        color: #bbb7ee;
                    }
                }

                .percent {
                    padding: 2px 6px;
                    border-radius: 25px;
                    margin-left: 10px;
                }
            }
        }
    }

    .analytics-wrapper {
        margin: 35px 0;
        padding: 25px 35px;
        border: 1px solid #f0f0f0;
        border-radius: 20px;

        .total-sales-wrapper {
            .sales-cost {
                .title {
                    margin: 0 0 5px 0;
                    line-height: 1;
                }
            }

            .sales-amount {
                margin-top: 40px;

                .amount {
                    line-height: 1;
                }

                .percent {
                    background: #cef7db;
                    padding: 2px 6px;
                    border-radius: 25px;
                    margin-left: 15px;
                    color: #74ca7d;
                    position: relative;
                    padding-left: 20px;

                    .caret-up {
                        margin-right: 5px;
                        position: absolute;
                        top: 5px;
                        left: 8px;
                    }
                }

                .previous-year {
                    color: #31c741;
                    margin: 5px 0 0 0;
                }
            }
        }

        .analytic {
            .title {
                span {
                    color: #31c741;
                }
            }

            select {
                font-size: 12px;

                &:focus-visible {
                    outline: none;
                }
            }

            .analytic-months {
                select {
                    border: none;
                    font-size: 10px;

                    &:focus-visible {
                        outline: none !important;
                    }

                    cursor: pointer;
                }
            }
        }
    }

    .transaction-history {
        .heading {
            p {
                margin-bottom: 20px;
            }

            select {
                border: 1px solid #f0f0f0;
                padding: 10px 15px 10px 45px;
                width: 120px;
                height: 45px;
                border-radius: 10px;
                margin-left: 8px;
                cursor: pointer;

                &:focus-visible {
                    outline: none !important;
                }
            }

            .month-filter {
                position: relative;

                svg {
                    position: absolute;
                    top: 14px;
                    left: 25px;
                }
            }
        }

        .filter-wrapper {
            margin-bottom: 15px;

            .filter {
                margin-right: 10px;
                background: #f3f4f8;
                // padding: 8px 15px;
                border-radius: 8px;
                cursor: pointer;

                select {
                    border: none;
                    padding-left: 10px;
                    background: #f3f4f8;
                    color: #404449;
                    border-radius: 8px;
                    cursor: pointer;
                    width: auto;
                    height: 40px;
                    margin-right: 10px;
                    padding-right: 5px;

                    &:focus-visible {
                        outline: none !important;
                    }
                }
            }
        }

        .display-table {
            overflow-x: auto;

            .transaction {
                .row {
                    padding: 25px 0;
                    border-bottom: 1px solid #f0f0f0;
                    transition: transform 0.5s linear;
                    cursor: pointer;

                    &:hover {
                        transform: scale(0.99);
                    }

                    .customer {
                        .customer-photo {
                            background-color: #eee;
                            border-radius: 50%;
                            position: relative;

                            .black-outer {
                                border-radius: 50%;
                                position: absolute;
                                bottom: 0px;
                                right: 0;
                            }
                        }

                        .customer-name {
                            margin-bottom: 2px;
                        }

                        .customer-info {
                            margin-left: 15px;
                        }
                    }

                    .status {
                        .status-fill {
                            border: 1px solid #f0f0f0;
                            padding: 5px 0px 5px 10px;
                            text-align: center;
                            border-radius: 25px;
                            position: relative;
                        }

                        .small-circle {
                            border-radius: 50%;
                            background-color: #31c741;
                            position: absolute;
                            top: 10px;
                            left: 8px;
                        }
                    }

                    .people {
                        .photo {
                            border-radius: 50%;
                            border: 1px solid #fff;
                        }
                    }

                    &.default {
                        padding: 15px 0;
                        color: #999;
                    }
                }
            }
        }
    }

    .hamburger {
        position: absolute;
        top: 45px;
        left: 15px;
        transform: translateY(-50%);
        display: none;
        z-index: 1;
        cursor: pointer;

        button {
            border: none;
            background-color: transparent;
        }
    }

    .calendar {
        margin-bottom: 15px;

        .header {
            .icon {
                border: 1px solid #f0f0f0;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.5s linear;

                &:first-child {
                    margin-right: 10px;
                }

                &:hover {
                    background-color: #6c62dd;

                    svg {
                        color: #fff;
                    }
                }
            }
        }

        .days.row,
        .body .row {
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            .day,
            .date {
                color: #999;
                text-align: center;
            }
        }

        .days {
            margin-bottom: 20px;
        }

        .body .row {
            .date {
                color: #404449;
                text-align: center;

                .number {
                    border-radius: 50%;
                    background-color: #fff;
                    margin: auto;
                    cursor: pointer;
                    transition: all 0.5s linear;

                    &:hover {
                        background-color: #ddd;
                    }
                }

                .number.today {
                    background-color: #6c62dd !important;
                    transition: all 0.5s linear;

                    &:hover {
                        opacity: 0.5;
                        background-color: #6c62dd !important;
                    }
                }
            }
        }
    }

    .chart-container {
        canvas {
            height: 150px !important;
            max-width: 315px !important;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .main {
        flex-direction: column !important;

        .main-division,
        .right-sidebar {
            width: 100% !important;
        }

        .right-sidebar {
            margin-left: 0 !important;
            margin-top: 50px;
        }

        .right-sidebar .info {
            width: 100% !important;
        }

        .profiles {
            position: static !important;
        }

        .right-sidebar button {
            max-width: 300px;
        }
    }

    .division {
        .sidebar {
            width: 50%;
            position: fixed;
            background: #fff;
            height: 100%;
            z-index: 2;
            transition: ease width 0.5s;

            &.show {
                display: block !important;
            }

            &.hide {
                display: none !important;
            }

            button {
                border: none;
                background-color: transparent;
                font-size: 20px;
            }

            .close-btn {
                display: block !important;
                position: absolute;
                top: 32px;
                right: 12px;
            }
        }

        .hamburger {
            display: block !important;
        }
    }
    .transaction{
        .date .invoice{
            font-size: 14px !important;
        }
    }
    .header-main-wrapper {
        padding: 25px 18px 25px 35px !important;
    }
}

@media only screen and (max-width: 768px) {
    .stats-wrapper {
        flex-direction: column !important;
        padding: 15px 15px 5px 15px !important;
        align-items: flex-start !important;

        .stat {
            margin-bottom: 20px;
        }
    }

    .main {
        flex-direction: column !important;

        .main-division {
            width: 100% !important;
        }

        .right-sidebar {
            width: 100% !important;
            margin-left: 0 !important;
            margin-top: 25px;

            .info {
                width: 100% !important;
            }
        }
    }

    .header {
        flex-direction: column-reverse !important;

        .profile-wrapper {
            width: 100% !important;
        }

        .header-operations {
            width: 100% !important;
            justify-content: flex-end !important;
            margin-bottom: 15px;

            .search-alert svg {
                margin: 0 20px 0 0 !important;
            }

            .small-circle {
                right: 20px !important;
            }
        }
    }

    .filter-wrapper {
        .filter {
            margin-right: 10px !important;
        }
    }

    .division {
        .sidebar {
            width: 50%;
            position: fixed;
            background: #fff;
            height: 100%;
            z-index: 2;
        }

        .header-main-wrapper {
            width: 100%;
            padding: 15px;
        }

        .analytics-wrapper {
            flex-direction: column !important;
            padding: 15px;
            margin-bottom: 50px;

            .total-sales-wrapper {
                width: 100%;
                margin-bottom: 15px;
            }

            .analytic {
                width: 100%;
            }
        }

        .transaction-history .heading {
            margin-bottom: 15px;

            p {
                font-size: 20px;
                margin-bottom: 0;
            }
        }

        .profile-wrapper {
            .welcome-note {
                font-size: 12px !important;
            }

            .good-wishes {
                font-size: 20px !important;
            }

            .profile-img {
                margin-right: 10px !important;
                width: 52px !important;
                height: 50px !important;

                img {
                    width: 30px !important;
                    height: 30px !important;
                }

                .profile-img-inner {
                    width: 44px !important;
                    height: 44px !important;
                }

                .small-circle {
                    top: 13px !important;
                }
            }
        }

        .hamburger {
            display: block !important;
        }
    }

    .transaction-history {
        .display-table {}

        .transaction {
            .customer {
                .customer-photo {
                    display: none !important;
                }

                .customer-info {
                    margin-left: 0 !important;
                }
            }

            .status {}

            .date {}

            .invoice {}

            .people {
                .photo-wrapper {
                    max-width: 10px !important;
                }
            }
        }
    }

    .right-sidebar {
        .profiles {
            position: static !important;
        }
    }

    .calendar .header {
        flex-direction: row !important;
    }
    .header-main-wrapper {
        padding: 25px 15px 25px 15px !important;
    }
}